<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huntingsnclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDBLe3gV5UXNrdKrgIG11lIc85PS3SXbVg" />

        <activity
            android:name="com.huntingsn.client.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.huntingsn.client.TimelineActivity"
            android:label="@string/title_activity_timeline" >
        </activity>
        <activity
            android:name="com.huntingsn.client.AddNewActivity"
            android:label="@string/title_activity_add_new" >
        </activity>
        <activity
            android:name="com.huntingsn.client.SlidingTL"
            android:label="@string/title_activity_sliding_tl" >
        </activity>
        <activity
            android:name="com.huntingsn.client.TimelineFragment"
            android:label="@string/title_activity_timeline_fragment" >
        </activity>
        <activity
            android:name="com.huntingsn.client.ProfileFragment"
            android:label="@string/title_activity_profile_fragment" >
        </activity>
        <activity
            android:name="com.huntingsn.client.StatsFragment"
            android:label="@string/title_activity_stats_fragment" >
        </activity>
        <activity
            android:name="dialogs.FriendsDialog"
            android:label="@string/title_activity_friends_dialog" >
        </activity>
        <activity
            android:name="com.huntingsn.client.StatsMapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_map"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>